@{
    ViewData["Title"] = "Home Page";
}

<form class="form-horizontal">
    <fieldset>

        <h2>Data base</h2>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="dataBase">Read text from data base</label>
            <div class="col-md-4">
                <p id="database_result"></p>
                <button id="dataBase"  class="btn btn-primary">Button</button>
            </div>
        </div>
        <h2>File</h2>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="file">Read text from file</label>
            <div class="col-md-4">
                <p id="file_result"></p>
                <button id="file"  class="btn btn-primary">Button</button>
            </div>
        </div>
        <!-- Form Name -->
        <h2>User input</h2>

        <!-- Text input-->
        <div class="form-group">
            <div class="col-md-4">
                <p id="user_input_result"></p>
                <input id="user_input_text" placeholder="Enter some text" class="form-control input-md" type="text">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <div class="col-md-4">
                <button id="userInput" class="btn btn-primary">Button</button>
            </div>
        </div>

    </fieldset>
</form>