@{
    ViewData["Title"] = "Home Page";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<form class="form-horizontal">
    <fieldset>

        <h2>Data base</h2>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Read text from data base</label>
            <div class="col-md-4">
                <button id="dataBase" name="singlebutton" class="btn btn-primary">Button</button>
            </div>
        </div>
        <h2>File</h2>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Read text from file</label>
            <div class="col-md-4">
                <button id="file" name="singlebutton" class="btn btn-primary">Button</button>
            </div>
        </div>
        <!-- Form Name -->
        <h2>User input</h2>

        <!-- Text input-->
        <div class="form-group">
            <div class="col-md-4">
                <input id="user_input_text" name="product_id" placeholder="Enter some text" class="form-control input-md" required="" type="text">

            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <div class="col-md-4">
                <button id="userInput" class="btn btn-primary">Button</button>
            </div>
        </div>

    </fieldset>
</form>